/node_modules
node_modules/
**/node_modules
/.pnp
.pnp.js

/build

.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

npm-deug.log*

/repo
